html, body {
    background-color: rgb(37, 10, 65);
    padding:0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
.container {
    width: 68%;
    margin: 0 auto;
    padding:0;
    background-color: rgb(197, 182, 212);
    box-shadow: 0 0 62px 2px  rgb(255, 255, 255);
}
header {
    background-color: #000;
    color: #fff;
    padding:10px 0;
}
hr {
    color: #fff;
    background-color: #fff;
    border: 1px solid #fff;
}
.hr-top {
    margin-top:0;
}
#header {
    text-align: center;
}
.col-md-6 {
    padding: 12px 6px;
    text-align: center;
    margin-top: 25px;
}
.row {
    width: 100%;
    margin:0;
    padding:0;
}
.caption {
    background-color: rgb(171, 151, 192);
    color: rgb(51, 6, 51);
    padding: 6px 12px 6px 6px;
    border-radius: 0 50% 50% 0;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: #000;
    color: #fff;
}
#bottom {
    padding: 20px 12px;
}
#bottom a {
    color: inherit;
    font-weight: 900;
}